@font-face {
  font-family: "Poppins-SemiBold";
  src: local(Poppins-SemiBold),
    url("../font/Poppins/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Medium";
  src: local(Poppins-SemiBold),
    url("../font/Poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: local(Poppins-SemiBold),
    url("../font/Poppins/Poppins-Regular.ttf") format("truetype");
}
