.carousel_content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;

  &-title {
    font-family: "Poppins-SemiBold";
    font-weight: bold;
    font-size: 1.2em;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 0;

    @include media(mobile, tablet) {
      transform: rotate(0deg);
      grid-column: 1/13;
      grid-row: 1/2;
    }

    @include media(desktop) {
      transform: rotate(-90deg);
      grid-column: 1/3;
      grid-row: 1/4;
    }
  }
  &-list {
    // display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;
    grid-gap: 2em;
    width: 100%;

    @include media(mobile, tablet) {
      grid-column: 1/13;
      grid-row: 2/4;
    }
    @include media(desktop) {
      grid-column: 3/13;
      grid-row: 1/4;
    }
  }
}
