@import "./assets/style/_variables.scss";
@import "./assets/style/font.scss";
@import "./assets/style/_mixin.scss";
@import "./components/Navbar/Navbar.scss";
@import "./components/Main/MainContent.scss";
@import "./components/Slider/GallerySlider.scss";
@import "./components/Footer/Footer.scss";
@import "./components/ThemeToggle.scss";

/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  max-height: 100%;
  // background: $backColor;
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */
* {
  box-sizing: inherit;
}
